node_modules/
dist/
out/
# Compiled TS output
main.js
bulbController.js
dataController.js
app/preload.js
app/renderer.js
app/configRenderer.js
Bulb.js
Room.js
ILightEntity.js
LightEntityFactory.js
settingsStore.js
